/* Main Section */
main {
  background-image: url(assets/fundo2.svg);
  background-size: cover;
  background-attachment: fixed;
  padding: 50px 0;
  height: 100%;
}

/* Dashboard Heading */
.dashboard {
  font-family: "Staatliches", sans-serif;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

/* Table Styling */
.table-responsive {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

th {
  font-family: "Staatliches", sans-serif;
  color: white;
  background-color: #006c72;
  text-align: center;
}

td {
  text-align: center;
  vertical-align: middle;
  font-size: 0.875rem;
}

/* Form Styling */
.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .form-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
  }
}

form label {
  font-weight: bold;
}

form .form-control {
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 8px;
}

form textarea {
  resize: vertical;
}

/* Button Styling */
.btn-primary {
  background-color: #006c72;
  border-color: #006c72;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
  background-color: #004d4d;
  border-color: #004d4d;
}

/* Section Header */
h2 {
  font-family: "Staatliches", sans-serif;
  color: #004d4d;
  background-color: #f4a92c;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.buttonnav {
  color: white;
  text-decoration: none;
}

.buttonnav:hover {
  text-decoration: underline;
}
