main {
  background-image: url(assets/fundo3.svg);
  background-size: cover;
  background-attachment: fixed;
  padding: 50px 0;
  min-height: calc(
    100vh - 120px
  ); /* 120px é a altura aproximada do header + footer */
  box-sizing: border-box;
}
@media (max-width: 768px) {
  main {
    height: 100vh;
  }
}

@media (max-width: 768px) {
  main {
    min-height: calc(100vh - 120px);
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.buttonnav {
  color: white;
  text-decoration: none;
}

/* Form */
form {
  font-family: "Public Sans", sans-serif;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

form img {
  margin-bottom: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-family: "Staatliches", sans-serif;
}

.form-floating {
  margin-bottom: 15px;
}

.form-floating label {
  color: #666;
}

.form-floating input {
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 10px;
}

.form-check {
  margin-bottom: 15px;
}

.form-check label {
  font-size: 0.9rem;
  color: #333;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  font-size: 1rem;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Form */
form {
  font-family: "Public Sans", sans-serif;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

form img {
  margin-bottom: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-family: "Staatliches", sans-serif;
}

.form-floating {
  margin-bottom: 15px;
}

.form-floating label {
  color: #666;
}

.form-floating input {
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 10px;
}

.form-check {
  margin-bottom: 15px;
}

.form-check label {
  font-size: 0.9rem;
  color: #333;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  font-size: 1rem;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Footer */
footer {
  background-color: #f4a92c;
  padding: 20px;
  position: absolute; /* ou fixed, dependendo da necessidade */
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer .col-md-4 {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

footer span {
  color: #004d4d;
  font-size: 14px;
  flex-grow: 5;
  text-align: center;
}

footer img {
  max-height: 70px;
  margin-right: 20px;
}

footer .nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer .nav li {
  margin-left: 20px;
}

footer .nav li a {
  color: #00a0a8;
  text-decoration: none;
  font-size: 2rem;
}

footer .nav li a:hover {
  color: #006c72;
}
