/* Nav */
nav {
  background-color: #006c72;
  font-family: "Staatliches", sans-serif;
  scroll-behavior: smooth;
}

nav .nav-link,
.login,
.sign {
  padding: 8px 15px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s ease;
}

nav .nav-link {
  padding: 8px 15px;
}

nav .nav-link:hover {
  background-color: #00a6b0;
  color: #fff; /* Garante que o texto fique branco */
}

nav .nav-link.active {
  background-color: #00a0a8;
}

/* Botões */
.login,
.sign {
  color: white;
  background-color: #00a6b0;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 15px;
}

.login:hover,
.sign:hover {
  background-color: #008c96;
  transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}

/* Main */
main {
  background-image: url(assets/fundo.svg);
  background-size: cover;
  padding: 50px 0;
}

/* Texto principal */
#iniciotext {
  color: #006c72;
  font-family: "Staatliches", sans-serif;
  font-size: 60px;
  font-weight: 200;
  line-height: 60px;
  -webkit-text-stroke: 2px white;
  margin-bottom: 20px;
  display: inline-block;
}

@media (max-width: 768px) {
  #iniciotext {
    font-size: 40px;
    line-height: 45px;
    text-align: center;
  }
}

/* Imagens e Espaçamento */
#espaco {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

#espaco img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  border: 3px solid white;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#espaco img:hover {
  transform: scale(1.05); /* Efeito de zoom suave */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Sombra maior */
}

/* Sobre nós */
#sobre {
  background-image: url(assets/fundo2.svg);
  background-size: cover;
}

#textosobrenos {
  background-color: #00a0a8;
  border-radius: 8px;
  border: 8px solid #f3dd57;
  padding: 20px;
  margin-top: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#textosobrenos:hover {
  transform: scale(1.05); /* Efeito de zoom suave */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Sombra maior */
}

/* Títulos e Parágrafos */
#sobre h2,
#localizacao h2 {
  color: #006c71;
  font-family: "Staatliches", sans-serif;
  font-size: 52px;
  font-weight: 200;
  line-height: 60px;
  -webkit-text-stroke: 1px #ffffff;
  margin: 20px 0;
}

#sobre p,
#localizacao p {
  text-align: justify;
  font-family: "Public Sans", sans-serif;
  color: white;
  font-size: 20px;
  line-height: 1.6;
}

#sobre h3 {
  color: #f3dd57;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Staatliches", sans-serif;
  letter-spacing: 3px;
  line-height: 40px;
  font-size: 30px;
  margin-top: 30px;
}

#logosobre {
  border: 3px solid white;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 20px auto 0;
}

.restaurant-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  border: 8px solid #f3dd57;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Localização */
#localizacao {
  padding: 30px 0;
  text-align: center;
}

#localizacao h2 {
  transition: color 0.3s ease;
}

#localizacao #loc {
  width: 80%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  border: 5px solid #f3dd57;
  margin: 20px 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

#localizacao img:hover {
  transform: scale(1.05); /* Efeito de zoom suave */
}

/* Delivery */
.delivery {
  margin: 20px auto;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.delivery:hover {
  transform: scale(1.05); /* Efeito de zoom suave */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Sombra maior */
}

.delivery h3 {
  color: #006c72;
  font-family: "Staatliches", sans-serif;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.delivery h3:hover {
  color: #004d4d; /* Cor mais escura no hover */
  transform: scale(1.1); /* Efeito de zoom suave */
}

.delivery p {
  color: #006c71;
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

/* Seção de opções */
.secaoopcoes {
  background-image: url("assets/fundo-onda.svg");
  background-size: cover;
  padding: 90px;
  position: relative;
}

.secaoopcoes::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.secaoopcoes h4 a {
  font-family: "staatliches", sans-serif;
  font-size: 32px;
  font-weight: 200;
  text-decoration: none;
  color: #fff;
  margin: 10px 0;
  margin-top: 50px;
  display: block;
  text-align: left;
}

.secaoopcoes ul {
  font-family: "public sans", sans-serif;
  list-style-type: none;
  color: #fff;
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
  padding-left: 0;
}

.secaoopcoes li {
  transition: transform 0.3s ease;
}

.secaoopcoes li:hover {
  transform: translateX(10px); /* Efeito de deslocamento no hover */
}

/* Mascote */
.mascote-img {
  max-width: 150px;
  margin-bottom: 10px;
  float: right;
  margin-left: 50px;
  transform: scale(1.1); /* Aumenta o tamanho do mascote */
}

/* Footer */
footer {
  background-color: #f4a92c;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer .col-md-4 {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

footer .col-md-4 img {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

footer .col-md-4 p {
  margin: 0;
  font-size: 16px;
  color: #fff;
  font-family: "Public Sans", sans-serif;
}

footer .col-md-4 h4 {
  margin: 0;
  font-family: "Staatliches", sans-serif;
  font-size: 18px;
  color: #006c71;
}
